{% extends 'user_accounts/base.html' %}
{% load static %}
{% block title %}Register | Registration System {% endblock  %}
{% block content %} 
<div class=" w-responsive mx-auto mb-5 w-75">
    <div class="jumbotron">
        {% if registered %}
        <h1>Thank you for registering</h1>
        {% else %}
        <h2 class="text-center">Register</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Register">
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
